<Config>
	<Screen Width="1280" Height="800" ViewportSize="3.0" Fullscreen="false"/>
	<Camera NearPlane="1.000000" FarPlane="1000.000000" FOV="60.000000" IsPerspective="true">
		<!-- <Position X="1.500000" Y="1.500000" Z="2.15000"/> -->
		<!-- <Direction X="-0.800000" Y="0.560000" Z="0.048000"/> -->
		<Position X="1.50000" Y="1.50000" Z="150.000"/>
		<Direction X="0.0" Y="0.00000" Z="1.0000"/>
	</Camera>
	<!-- <Raycaster Type="CPU Raycaster" /> -->
	<!-- <Raycaster Type="DepthRaycaster" /> -->
	<!-- <Raycaster Type="PrintOctree" /> -->
	<!-- <Raycaster Type="FakeRaycaster" />	 -->
	<Raycaster Type="NormalsRaycaster" />
	
	<Octree FilePath="Assets/bunny/bunny.voxtree" />
	<!-- <Octree FilePath="Assets/cube/cube4.voxtree" /> -->
	<!-- <Octree FilePath="Assets/cube/cube16.voxtree" /> -->
</Config>

