<Config>
	<Screen Width="1280" Height="800" ViewportSize="1.0" Fullscreen="false" EnableVSync="false" />
	<Camera NearPlane="0.1" FarPlane="100.000000" FOV="60.000000" IsPerspective="true">
		<!-- <Position X="1.500000" Y="1.500000" Z="2.15000"/> -->
		<!-- <Direction X="-0.800000" Y="0.560000" Z="0.048000"/> -->
		<Position X="0.0000" Y="0.00000" Z="2.000"/>
		<Direction X="0.0" Y="0.00000" Z="1.0000"/>
	</Camera>
	
	<Lights>
		<DirectionalLight Intensity="1.0" >
			<Color X="1.00000" Y="1.00000" Z="1.000"/>
			<Direction X="0.0" Y="0.00000" Z="1.0000"/>			
		</DirectionalLight>
	</Lights>
	
	<!-- <Raycaster Type="GPU Raycaster" /> -->
	<Raycaster Type="AnimationRaycasterGPU" />
	<!-- <Raycaster Type="CPU Raycaster" /> -->
	<!-- <Raycaster Type="DepthRaycaster" /> -->
	<!-- <Raycaster Type="PrintOctree" /> -->
	<!-- <Raycaster Type="FakeRaycaster" />	 -->
	<!-- <Raycaster Type="NormalsRaycaster" /> -->
	<!-- <Raycaster Type="ShellMeshRenderer" /> -->
	
	<!-- <Octree FilePath="Assets/bunny/bunny.voxtree" /> -->
	<!-- <Octree FilePath="Assets/bunny-color/bunny-color.voxtree" /> -->
	<!-- <Octree FilePath="Assets/Cobblestones3/Cobblestones3.voxtree" /> -->
	<!-- <Octree FilePath="Assets/Cobblestones3/Cobblestones3_bilinear.voxtree" /> -->
    <!-- <Octree FilePath="Assets/Deer/Deer.voxtree" /> -->
    <!-- <Octree FilePath="Assets/Minotaur/Minotaur.voxtree" /> -->
    <!-- <Octree FilePath="Assets/Wolf/Wolf.voxtree" /> -->
    <Octree FilePath="Assets/BB8/BB8.voxtree" />
    <!-- <Octree FilePath="Assets/CloneFighter/CloneFighter.voxtree" /> -->
    <!-- <Octree FilePath="Assets/BlackDragon/BlackDragon.voxtree" /> -->
    <!-- <Octree FilePath="Assets/Spider/Spider.voxtree" /> -->
    <!-- <Octree FilePath="Assets/WhiteCanary/WhiteCanary1.voxtree" /> -->
    <!-- <Octree FilePath="Assets/WhiteCanary/WhiteCanary2.voxtree" /> -->
	<!-- <Octree FilePath="Assets/SmallBoy/SmallBoy.voxtree" /> -->
	<!-- <Octree FilePath="Assets/SmallBoy/SmallBoy2.voxtree" /> -->
	<!-- <Octree FilePath="Assets/Skeleton/Skeleton.voxtree" /> -->
	<!-- <Octree FilePath="Assets/Cylinder/Cylinder.voxtree" /> -->
	<!-- <Octree FilePath="Assets/Skeleton/SkeletonColored.voxtree" /> -->
	<!-- <Octree FilePath="Assets/cube/cube16.voxtree" /> -->
	
	<!-- <ShellMesh FilePath="Assets/Dino/DinoWalkLoop.FBX" OctreeFile="Assets/Dino/Dino.voxtree" /> -->
    <ShellMesh FilePath="Assets/Dino/Dinosaurus_attack.FBX" OctreeFile="Assets/Dino/Dino.voxtree" />
    <!-- <ShellMesh FilePath="Assets/Dino/Dinosaurus_idle.FBX" OctreeFile="Assets/Dino/Dino.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/Dino/Dinosaurus_idle2.FBX" OctreeFile="Assets/Dino/Dino.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/Dino/Dinosaurus_roar.FBX" OctreeFile="Assets/Dino/Dino.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/Dino/Dinosaurus_run.FBX" OctreeFile="Assets/Dino/Dino.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/Dino/Donosaurus_eat.FBX" OctreeFile="Assets/Dino/Dino.voxtree" /> -->
    
	<!-- <ShellMesh FilePath="PreBuildAssets/Animations/Skeleton/skeleton_animated.FBX" OctreeFile="Assets/Skeleton/Skeleton.voxtree" /> -->
	<!-- <ShellMesh FilePath="Assets/Cylinder/CylinderBend3.FBX" OctreeFile="Assets/Cylinder/Cylinder.voxtree" /> -->
	<!-- <ShellMesh FilePath="Assets/Cylinder/CylinderScale.FBX" OctreeFile="Assets/Cylinder/Cylinder.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/Cylinder/CylinderScale.FBX" OctreeFile="Assets/Cylinder/Cylinder2.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/Cylinder/CylinderBend3.FBX" OctreeFile="Assets/Cylinder/Cylinder2.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/Deer/Deer.FBX" OctreeFile="Assets/Deer/Deer.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/Snake/Snake.FBX" OctreeFile="Assets/Snake/Snake.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/Wolf/Wolf_with_Animations.FBX" OctreeFile="Assets/Wolf/Wolf.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/Minotaur/Minotaur@Run.FBX" OctreeFile="Assets/Minotaur/Minotaur.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/BB8/bb8.FBX" OctreeFile="Assets/BB8/BB8.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/BlackDragon/BlackDragon-Anims.FBX" OctreeFile="Assets/BlackDragon/BlackDragon.voxtree" /> -->
    <!-- <ShellMesh FilePath="Assets/WhiteCanary/FIGHT COMBO.FBX" OctreeFile="Assets/WhiteCanary/WhiteCanary1.voxtree" /> -->
</Config>

