<Config>
	<Screen Width="1280" Height="800" ViewportSize="1.0" Fullscreen="false" EnableVSync="true" />
	<Camera NearPlane="0.0001" FarPlane="100.000000" FOV="60.000000" IsPerspective="true">
		<!-- <Position X="1.500000" Y="1.500000" Z="2.15000"/> -->
		<!-- <Direction X="-0.800000" Y="0.560000" Z="0.048000"/> -->
		<Position X="0.0000" Y="0.00000" Z="2.000"/>
		<Direction X="0.0" Y="0.00000" Z="1.0000"/>
	</Camera>
	
	<Lights>
		<DirectionalLight Intensity="1.0" >
			<Color X="1.00000" Y="1.00000" Z="1.000"/>
			<Direction X="0.0" Y="0.00000" Z="1.0000"/>			
		</DirectionalLight>
	</Lights>
	
	<!-- <Raycaster Type="GPU Raycaster" /> -->
	<Raycaster Type="AnimationRaycasterGPU" />
	<!-- <Raycaster Type="CPU Raycaster" /> -->
	<!-- <Raycaster Type="DepthRaycaster" /> -->
	<!-- <Raycaster Type="PrintOctree" /> -->
	<!-- <Raycaster Type="FakeRaycaster" />	 -->
	<!-- <Raycaster Type="NormalsRaycaster" /> -->
	<!-- <Raycaster Type="ShellMeshRenderer" /> -->
	
	<!-- <Octree FilePath="Assets/bunny/bunny.voxtree" /> -->
	<!-- <Octree FilePath="Assets/SmallBoy/SmallBoy.voxtree" /> -->
	<!-- <Octree FilePath="Assets/SmallBoy/SmallBoy2.voxtree" /> -->
	<!-- <Octree FilePath="Assets/Skeleton/Skeleton.voxtree" /> -->
	<Octree FilePath="Assets/Cylinder/Cylinder.voxtree" />
	<!-- <Octree FilePath="Assets/Skeleton/SkeletonColored.voxtree" /> -->
	<!-- <Octree FilePath="Assets/cube/cube16.voxtree" /> -->
	
	<!-- <ShellMesh FilePath="PreBuildAssets/Animations/Dino/DinoWalkLoop.FBX"  /> -->
	<!-- <ShellMesh FilePath="PreBuildAssets/Animations/Skeleton/skeleton_animated.FBX" OctreeFile="Assets/Skeleton/Skeleton.voxtree" /> -->
	<ShellMesh FilePath="Assets/Cylinder/CylinderBend1.FBX" OctreeFile="Assets/Cylinder/Cylinder.voxtree" />
</Config>

